@import '../variable.scss';

.navbar{
  background-color: $MidnightExpress-color;
  color: $DarlSalmon-color;
  height: 60px;
  .toolbar{
    .heading{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
    }
    .button{
      background-color: $DarlSalmon-color ;
      color: $Meteorite-color;
    }
    .tabs{
      display: flex;
      margin-left: auto;
    }
  }

}