$MidnightExpress-color: #06142E;
$CatalinaBlue-color: #1B3358;
$Meteorite-color: #473E66;
$LondonHue-color: #BD83B8;
$Cherub-color: #F5D7DB;
$DarlSalmon-color: #F1916D;
$white-color:white;
$black-color:black;